/* projects general */

.about-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top center;
  border-bottom: 1px solid var(--color-bg);
}

.about-section.a {
  background-image: url(images/Untitled-1.png),
    linear-gradient(
      15deg,
      var(--color-trans) 5%,
      var(--color-acc-2-trans),
      var(--color-acc-trans)
    );
  background-size: contain;
  background-position: bottom;
}

/* projects sections */

.about-text {
  position: relative;
  height: fit-content;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 16px 32px;
  margin: 0px 40px;
  margin-bottom: 100px;
  gap: 12px;
  color: var(--color-text_white);
  z-index: 30;
}

/* .about-section.a img {
  width: 30vw;
  height: 30vh;
  object-fit: cover;
  margin: 40px;
  border-radius: 5000px;
} */

/* responsive design element */

@media screen and (max-width: 720px) {
  .about-text {
    margin: 0px 40px;
    margin-bottom: 100px;
    width: auto;
  }

  .about-section.a {
    background-size: cover;
    /* background-image: linear-gradient(
      15deg,
      var(--color-trans) 5%,
      var(--color-acc-2-trans),
      var(--color-acc-trans)
    ); */
  }

  /* .about-section.a img {
    width: 30vw;
    height: 30vh;
    object-fit: contain;
    margin: 0px;
    border-radius: 5000px;
  } */
}
