/* Sections */

/* Hero */

.intro-section {
  position: relative;
  background-color: var(--color-1);
  height: 100vh;
  width: 100vw;
  top: 0;
  border-bottom: 1px solid var(--color-acc);
}

.intro-section video {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-text h1 {
  color: var(--color-1);
  font-size: 10vw;
  font-weight: 900;
}

/* projects general */

.project-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top center;
  border-bottom: 1px solid var(--color-bg);
}

.projekt-text {
  position: relative;
  width: 60vw;
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 16px 32px;
  gap: 8px;
  color: var(--color-text_white);
  z-index: 30;
}

/* projects sections */

.project-section.a {
  background-image: linear-gradient(
    15deg,
    var(--color-trans) 5%,
    var(--color-acc-2-trans),
    var(--color-acc-trans)
  );
}

.img-section.a {
  width: 60vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.project-section.a img {
  width: 20vw;
  object-fit: cover;
  transition: all 200ms ease-in-out 200ms;
}

.project-section.a img:hover {
  transform: scale(1.2);
}

.img-section.a .y img {
  width: 25vw;
}

.project-section.b {
  background-image: linear-gradient(
    -15deg,
    var(--color-acc-trans),
    var(--color-acc-2-trans) 30%,
    var(--color-trans)
  );
}

.img-section.b {
  width: 60vw;
  height: 60vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.project-section.b .logotype {
  width: 33%;
  height: 33%;
  gap: 12px;
  object-fit: fill;
  filter: invert(100%);
  transition: all 200ms ease-in-out 1ms;
}

.project-section.b .logotype:hover {
  transform: scale(1.2);
}

/* Passion */

.passion-projects {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.passion-projects_text {
  background-color: var(--color-acc);
  width: 100vw;
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
}

.passion-projects_text h1 {
  font-size: 64px;
  padding: 20px;
  font-weight: 800;
  text-transform: uppercase;
  -webkit-animation: moving 30s infinite;
  animation: moving 30s infinite;
}

@keyframes moving {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(1000px);
  }
}

.passion-projects.a {
  height: 35%;
  display: flex;
  flex-direction: row;
  align-items: center center;
}

.passion-projects.b {
  height: 40%;
  display: flex;
  flex-direction: row;
  align-items: center center;
}

.passion-projects.a img {
  width: 20%;
  object-fit: cover;
  transition: all 200ms ease-in-out 1ms;
}

.passion-projects img:hover {
  transform: scale(1.2);
  z-index: 50;
  border-radius: 10px;
}

.passion-projects.b video {
  width: 50%;
  object-fit: cover;
}
